/**************/
/*Confirmation*/
/**************/
.confirmation {
    display: flex;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 85px;
}

.confirmation p {
    background-color: var(--secondary-color);
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding: 30px;
    border-radius: 25px;
}